
@font-face {
  font-family: "Poppins-Regular";
  src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("/assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}


@import "final";
