<br>

<style>

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 10px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 5px;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
</style>

<div class="row"> <!-- colonna1 -->
  <div class="column">
    <img src="/assets/media/images/posts/cage-alnassar.jpg" data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/cage-alnassar.jpg"  data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/cage-alnassar.jpg"  data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/cage-alnassar.jpg"  data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/cage-alnassar.jpg"  data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/cage-alnassar.jpg"  data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/cage-alnassar.jpg"  data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
  </div>
  <div class="column"> <!-- colonna2 -->
    <img src="/assets/media/images/posts/modena.jpg"  data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/modena.jpg"  data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/modena.jpg"  data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/modena.jpg"  data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/modena.jpg"  data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/modena.jpg"  data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/modena.jpg"  data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
  </div>
  <div class="column"> <!-- colonna3 -->
    <img src="/assets/media/images/posts/pop-it-dialma.jpg" data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/pop-it-dialma.jpg" data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/pop-it-dialma.jpg" data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/pop-it-dialma.jpg" data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/pop-it-dialma.jpg" data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/pop-it-dialma.jpg" data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/pop-it-dialma.jpg" data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
  </div>
  <div class="column"> <!-- colonna4 -->
    <img src="/assets/media/images/posts/ranaldo-lumiere.jpg" data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/ranaldo-lumiere.jpg" data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/ranaldo-lumiere.jpg" data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/ranaldo-lumiere.jpg" data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/ranaldo-lumiere.jpg" data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/ranaldo-lumiere.jpg" data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">
    <img src="/assets/media/images/posts/ranaldo-lumiere.jpg" data-original="/assets/media/images/merda.jpg" class="img-fluid img-zoomable" alt="Saluto-sole">

  </div>
</div>
