* {
  font-family: Poppins;
}


html {
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  max-width: 50rem;
  padding: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.nav-item{ // elementi a destra con navbar collassata
   text-align: right;
}

#miofooter { //per avere il footer in fondo al contenuto
  position: absolute;
 right: 0;
 bottom: 0;
 left: 0;
 padding: 1rem;
 background-color: #fffff;
 text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.nav-link{
  font-size: 20px;
}
